.menu-button {
  width: 27px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
}
.menu-button::after {
  display: inline-block;
  content: url(../images/icon-hamburger.svg);
}
.menu-button.close::after {
  content: url(../images/icon-close.svg);
}
